
# Workspace file
*.code-workspace

# Folders
.vscode/
REFS/
docs/
note/
test/
shaders/
lly/
xyy/
models/
build/
compressed/

!models/ANBY/


!shaders/light_source/
!shaders/loading/

# Files
matrix.cpp
*.nsi
NoSetup.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
